<h2>List of products</h2>
<ol class="product-info">
  <li>
    <span>{{product.name | uppercase}}</span>
    <ul class="product-details">
      <li><span>Product name: </span>{{product.name}}</li>
      <li><span>Product brand: </span>{{product.brand}}</li>
      <li><span>Product price: </span>${{product.price}}</li>
      <li><span>Product description: </span>{{product.description}}</li>
    </ul>
  </li>
</ol>

<h3>Product editing</h3>
<div>
  <label for="name">Product name: </label>
  <input id="name" [(ngModel)]="product.name" placeholder="name">
</div>
<div>
  <label for="brand">Product brend: </label>
  <input id="brand" [(ngModel)]="product.brand" placeholder="brand">
</div>
<div>
  <label for="price">Product price: </label>
  <input id="price" [(ngModel)]="product.price" placeholder="price">
</div>
<div>
  <label for="description">Product description: </label>
  <input id="description" [(ngModel)]="product.description" placeholder="description">
</div>
